doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Pokemons Custom Objects

        a(href="/update-cobj")  Add/Update this table

        table 
            thead 
                tr 
                th Name
                th Type
                th Weakness
                th edit
            tbody
                each pokemons in data
                    tr 
                        td #{pokemons.properties.name} 
                        td #{pokemons.properties.type}
                        td #{pokemons.properties.weakness}
                        td 
                            a(href=`/edit-cobj?id=${pokemons.id}`)  Edit
                            a(href=`/delete-cobj?id=${pokemons.id}`)  Delete